.menu div a:hover{
    color: #818181;
    text-decoration: none;
}
.menu div a{
    margin-left: 15px;
    color: #5e5e5e;
    font-size: 17px;
}
.menu div{
    height: 30px;
}
.menu div:hover{
    background-color: #d8d8d8;
}